head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous')
  link(rel='stylesheet' href='css/animate.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  title Desi Taste
header
  //
    logo
    ========================================================
  .logo
    a(href='index.html')
  // =======================================================
  //
    Slider
    ===================================================
  .slider
    #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/litii-choka.jpg' alt='Slide One')
        .carousel-item
          img.d-block.w-100(src='/images/rohu-fish.jpg' alt='Slide Two')
        .carousel-item
          img.d-block.w-100(src='/images/litti.jpg' alt='Slide Three')
        .carousel-item
          img.d-block.w-100(src='/images/mutton.jpg' alt='Slide Four')
      a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  // =======================================================
  //
    Navigation
    ====================================================
  nav
    ul
      li
        a(href='index.html') home
      li
        a(href='our-story.html') menu
      li
        a(href='what-we-made.html') about us
      li
        a(href='contact.html') contact us
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
script(src='js/wow.min.js')
script.
  $('.slider').carousel({
  interval: 2000
  });
