*
{
    margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
    overflow-x: hidden !important;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
#navigation
{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../images/mutton-background.jpg') center center no-repeat;
  height:85vh;
  background-size:cover;
  	color:white;
  display:flex;
 text-align:center !important;
  align-items:center !important;
  background-attachment:fixed;
   
   

}
.navbar-nav
{
	margin:0 auto;
}
.navbar-nav a 
{
	color:white !important;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vh !important;
    text-decoration: none !important;
}
.navbar 
{
	 background-color:rgba(0,0,0,0.5) !important;
  border-color:rgba(0,0,0,0.5) !important;

}
.cover-caption
{
	text-align:center;
	
      width:100%;
	/* background-color:rgba(0,0,0,0.5);*/
}
#main-body h1 
{
    text-align: center;
    padding-bottom: 5vh;
    font-family: 'Lora', serif;
    
}

#main-body
{
    margin-top: 5vh;
    
}
#main-body p
{
     font-family: 'Open Sans', sans-serif;
}
#footer
{
    margin-top: 5vh;
    text-align: center;
    background: black;
    color: white;
}
#footer p
{
    padding-top: 5vh;
}