*
{
    margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
    overflow-x: hidden !important;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
#navigation
{
 text-align:center !important;
  align-items:center !important;
}
.navbar-nav
{
	margin:0 auto;
}
.navbar-nav a 
{
	color:white !important;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vh !important;
    text-decoration: none !important;
}
.navbar 
{
	 background-color:rgba(0,0,0,0.7) !important;
  border-color:rgba(0,0,0,0.7) !important;

}
.cover-caption
{
	text-align:center;
	
      width:100%;
	/* background-color:rgba(0,0,0,0.5);*/
}
#enquiryform h1 
{
    text-align:center;
    padding-top:5vh;
    
}
#enquiryform 
{
    margin-top: 15vh;
}
#enquiryform h5 
{
    text-align: center;
    padding-bottom:3vh;
}
#enquiryform h2
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}