* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 100%;
  max-height: 100%;
}

header {
  position: relative;
  overflow: hidden;
  height: 100%;
}

section,
footer {
  overflow: hidden;
}

/* navigation */

.logo {
  z-index: 1;
  display: block;
  width: 154px;
  height: 65px;
  position: absolute;
  background: url(../img/logo.png) no-repeat 0 0;
  background-size: contain;
  top: 15px;
  left: 30px;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 30px 0 30px 100px;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

nav ul li:hover>ul {
  display: block;
}

nav ul ul {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* nav top level */

nav>ul {
  padding-left: 450px;
}

nav>ul>li {
  float: left;
}

nav>ul>li>a {
  width: auto;
  padding: 10px 20px 15px 20px;
}

nav>ul>li>ul>li>a {
  width: auto;
}

/* slider */

.carousel-item {
  background-position: top center;
  background-size: cover;
}

.w-100 {
  height: 105vh;
}
